# Compiled source #
###################
*.pyc
.env
.pylintrc

# Directories #
###############
__pycache__/
tmp/
env/
build/
dist/
scripts/
pymarketcap.egg-info/

# Other files #
###############
prueba.py
prueba2.py
.env
MANIFEST
MANIFEST.in
README.html
NOTES.md
benchmarking.json

# Cython experiment #
cy_branch/
cysetup.py
cycore.pyx
cycore.c
data/
exceptional_coin_slugs.json
