# Compiled files
*.so
*.c
build/
__pycache__/
pymarketcap.egg-info/
dist/

# Local files
NOTES.md
scripts/

# Local test development
builder_checks.py
proof.py
env/
.benchmarks/
.pytest_cache/
pytest_benchmark/
.tox/
last_results.json
*.png
async.py
push.sh
test_currency_tracking.py
*.go