# Compiled source #
###################
*.pyc
.env
.pylintrc

# Directories #
############
__pycache__/
tmp/
env/
build/
dist/
scripts/
pymarketcap.egg-info/

# Other files #
prueba.py
.env
MANIFEST
MANIFEST.in
README.html
NOTES.md